<div id="<%= dom_id crypto_portal %>">
  <p>
    <strong>User:</strong>
    <%= crypto_portal.user_id %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= crypto_portal.currency %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= crypto_portal.quantity %>
  </p>

</div>
