<div id="<%= dom_id task %>">
  <p>
    <strong>Task template:</strong>
    <%= task.task_template_id %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= task.priority %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

</div>
